[submodule "extern/riddle"]
	path = extern/riddle
	url = https://github.com/ratioSolver/RiDDLe
	branch = memory
[submodule "extern/rationet"]
	path = extern/rationet
	url = https://github.com/ratioSolver/ratioNet
[submodule "extern/linspire"]
	path = extern/linspire
	url = https://github.com/ratioSolver/LinSpire
